
.bind {
  padding-top: 100px;
}

.info {
  display: flex;
  justify-content: start;
  height: 100px;
  align-items: center;
  border-bottom: 2px solid #ccc;

}
.info label {
  width: 200px;
  height: 50px;
}
.info input {
  height: 50px;
}
.submit {
  background: #123a72;
  color: #fff;
  width: 50%;
  margin-top: 100px;
}